{% extends 'base1.html' %}

{% load staticfiles %}
{% block  content %}
	<div id="main">
		<div class="section page-title">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center-sm">
							<h1 class="title">Our Team</h1>
							<div class="breadcrumbs">
								<ul>
									<li><a href="#">Home</a></li>
									<li>Our Team </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section section-bg-11 section-cover mt-18">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="film-list-member" style="margin-top:20vh;">
							<div class="item">
								<div class="photo img-responsive" ">
									<img src="{% static 'images/rohan.jpeg' %}" alt="" />
								</div>
								
							</div>
								
						</div>
					</div>
					<div class="col-sm-5">
						<div class="mt-5"></div>
						<div class="mt-13 hidden-sm"></div>
						<h2 class="section-title white fz-40 mb-3" style="font-family: 'Germania One', cursive;">Creative Director</h2>
						<p class="mb-3 gray" style="font-family: 'Germania One', cursive;">Rohan Wahile Films & Casting is a team who has its primary focus on making films, commercials, advertisements, documentaries etc. The goal is to promote and create a platform for every individual who aspires to be an Artist. 
					Rohan Wahile leads in content creation , production, casting characters in the projects.We as a team of Rohan Wahile Films & Casting welcome you to join us for every jonor you aspire to be in the market .</p>
						<div class="icon-boxes icon-boxes-small">
							<div class="icon-boxes-icon">
								<i class="ion-trophy"></i>
							</div>
							<h5 class="icon-boxes-title white" style="font-family: 'Germania One', cursive;">Focus.</h5>
							<div class="icon-boxes-content gray" style="font-family: 'Germania One', cursive;">
								We focus on filling all the drawbacks in the individual by involving them in our projects and help them by getting workshops by professionals.
							</div>
						</div>
						<div class="mb-4"></div>
						<div class="icon-boxes icon-boxes-small">
							<div class="icon-boxes-icon">
										<i class="ion-trophy"></i>
							</div>
							<h5 class="icon-boxes-title white" style="font-family: 'Germania One', cursive;"> Team</h5>
							<div class="icon-boxes-content gray" style="font-family: 'Germania One', cursive;">
								As a team we are well equipped with market relations, investors as we create projects in the Moto of brand promotions to assure that an individual is having complete opportunity to achieve his dreams on bigger budget platform.<br/>  We recognise and appreciate the talents around us and try to promote them to the most extent level.<br/>
								We have a team of Artists such as Writers ,Directors,Producers, Models,Singers,Dancers,Photographers, Creative Head, Painters and professionals of all jonor .
								
							</div>
						</div>
						<div class="mt-5"></div>
						<div class="mt-13 hidden-sm"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-7 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-push-4 col-sm-12">
						<div class="team-filter team-filter-scroll">
							<ul class="masonry-filter">
								<li><a href="#" data-filter="" class="active">#All</a></li>
								<li><a href="#" data-filter=".cinematographers">#Cinematographers</a></li>
								<li><a href="#" data-filter=".designers">#Designers</a></li>
								<li><a href="#" data-filter=".directors">#Directors</a></li>
								<li><a href="#" data-filter=".photographers">#Photographers</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section bg-lighter pt-10 pb-4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-sm-12 pl-0">
						<div class="film-hire-box">
							<div class="title"> Our Team</div>
							<div class="text"> We set up teams to shape your identity, push your idea &amp; manage the workflow from pre- to post production.</div>
							<div class="link">
								<a href="#" target="_self"> Hire Us Now </a>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-sm-12 p-0">
						<div class="team-masonry masonry-grid-post">
							<div class="col-md-3 col-sm-6 film-masonry-item masonry-item 
								cinematographers designers">
								<div class="team-item p-0">
									<div class="thumb">
										<a href="team-detail.html">
											<img src="{% static 'images/rohan.jpeg' %}" alt="" />
										</a>
									</div>
									<div class="info">
										<div class="name">
											<a href="team-detail.html">Rohan Wahile</a>
										</div>
										<div class="tagline">Founder/Producer</div>
										
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
		<div class="section hidden-xs mtn-5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">
							<img src="images/line.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-7 pb-8">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="testimonial-carousel style-1" data-auto-play="true" data-desktop="1" data-laptop="1" data-tablet="1" data-mobile="1">
							<div class="item">
								<h4 class="title">The best film studio</h4>
								
							</div>
							<div class="item">
								<h4 class="title">The best film studio</h4>
								<div class="text">
											They all are witnesses. If you or your organization have a story to tell, an idea to share or word to spread, the Nine Studio can help you bring it to life. They can assist with narrative exploration, director contacts and production strategies.
								</div>
								<div class="info">
									<div class="author">
										<span class="name">Sunil Godbole</span> 
										<span class="tagline">Actor</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}